<% if (!user) { %>
	<p>Welcome! Please <a href="/auth/facebook">log in with facebook</a>.</p>
<% } else { %>
	<p>Hello, <%= user.name %>.</p>
<% } %>
<% if (!search) { %>
 <form class="input-append" id="file-form" enctype="multipart/form-data" method="post"  action="/findBook">
      <input type="text" name="title" placeholder="Type a book title">
     <input type="submit" value="Submit" id="submit" />
 </form>
<% } else { %>
 <form class="input-append" id="file-form" enctype="multipart/form-data" method="post"  action="/findBook">
      <input type="text" name="title" placeholder= <%= search %> >
     <input type="submit" value="Submit" id="submit" />
 </form>


<% } %>
 <% if (book) { %>
     <img src=<%= book.thumbnail %>>
     <%= book.title %>
 <% } %>