<% if (!user) { %>
	<p>Welcome! Please <a href="/auth/facebook">log in with facebook</a>.</p>
<% } else { %>
	<h4>My Books.</h4>
	  <% for(var i=0; i<books.length; i++) { %>
        <div id="book">
            <a href='books/<%= books[i].bookid %>'>
                <img src='<%= books[i].thumbnail %>'>
                <div id='book-title'> <%= books[i].title %></div>
            </a
                <div id='book-status'> <%= user.status[i] %></div>
        </div>
    <% } %>
<% } %>