<% if (!user) { %>
	<p>Welcome! Please <a href="/auth/facebook">log in with facebook</a>.</p>
<% } else { %>
	<p>Hello, <%= user.name %>.</p>
	  <% for(var i=0; i<books; i++) { %>
        <li>
            <a href='books/<%= book[i] %>'>
                Book!
            </a>
        </li>
    <% } %>
<% } %>